<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:9001/src/static/style/style.css">
    <title>Мини игра</title>
</head>
<body>
    <div class="header">
        <div class="header_linerBar">
            <ul class="header_linerBar__actionInner">
                <li class="header_linerBar__actionInner_buttonFaq">
                    Список игр
                </li>
                <li class="header_linerBar__actionInner_buttonNews">
                    Новости
                </li>
                <li class="header_linerBar__actionInner_buttonautch">
                    Авторизация
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="main_container">

        </div>
    </div>
    <div class="footer"></div>

    <script src="http://localhost:9001/src/serverMethod/renderPageGame.js"></script>
    <script src="http://localhost:9001/src/serverMethod/faqGame.js"></script>
    <script src="http://localhost:9001/src/serverMethod/gameStart.js"></script>
</body>
</html>